<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to our college</h1>
    <a href="/branch/computerScience">Computer Science</a>
    <a href="/branch/Mechanical">Mechanical</a>
    <a href="/branch/Electrical">Electrical</a>
</body>
</html>